body {
    font-family: Consolas, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.grid {
    background: green;
    padding-left: 30%;
}

.score {
    background: red;
    padding-left: 40%;
    padding-top: 10;
    padding-bottom: 10;
}

.score p {
    font-size: 22px;
}

.board {
    width: 10px;
    height: 10px;
    float: left;
    display: block;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background: black;
 
}

.snakeBody {
    width: 10px;
    height: 10px;
    float: left;
    display: block;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background: orange;
}
.snakeHead {
    width: 10px;
    height: 10px;
    float: left;
    display: block;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background: white;
}
.food {
    width: 10px;
    height: 10px;
    float: left;
    display: block;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background: yellow;
}